footer {
    background-color: #FF69B4;
    color: white;
}

section {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logos {
    width: 20%;
    display: flex;
    justify-content: space-evenly;

    ul {
        width: 100%;
    }
}


.nomes {
    text-align: center;
}

.laço {
    width: 8%;
}